.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    background-color: var(--background-color);
    border: solid 1.28px #dbdbdb;
    border-radius: 7.7px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 1.2rem 0;
    padding: 1rem;
}

.loginForm input::placeholder {
    color: #a7a7a7;
}

.loginForm .sessionHelp {
    color: var(--light-text-hex);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sessionHelp span {
    display: flex;
    gap: 0.3rem;
}

.sessionHelp input[type="checkbox"]:checked {
    background-color: #af78ce;
}

.loginBtn {
    background-color: var(--accent-text-color);
    border: none;
    border-radius: 7.7px;
    box-shadow: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1.5rem 0;
    padding: 1rem;
    transition: background-color ease 120ms;
}

.loginBtn:hover {
    background-color: #af78ce;
    cursor: pointer;
}
.signupBtn {
    background-color: transparent;
    border: 1px solid var(--accent-text-color);
    border-radius: 7.7px;
    box-shadow: none;
    color: var(--accent-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1.5rem 0;
    padding: 1rem;
    transition: all ease 120ms;
}

.signupBtn:hover {
    background-color: #af78ce;
    color: #fff;
    cursor: pointer;
}

.baredOr {
    align-items: center;
    color: var(--accent-text-color);
    display: flex;
    justify-content: space-between;
}

.bar {
    border-top: 1px solid #ccc;
    height: 0;
    width: 46%;
}
.or {
    width: 8%;
}

