:root {
    --accent-text-color: #7e22ce;
    --background-color: #f5f6fa;
    --border-radius: 12px;
    --dark-text-rgb: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
    --light-text-hex: #3c3c3c;
    --light-text-rgb: 0, 0, 0;
    --max-width: 1240px;

    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    color: rgb(var(--light-text-hex));
    font-family: var(--font-roboto);
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: #085fce;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--font-roboto);
    font-size: 1rem;
    padding: 0.8rem;
}

.btn-primary {
    background-color: var(--accent-text-color);
    color: #fff;
    font-weight: 700;
}

.btn-danger{
    background-color: #e74946;
    color: #fff;
}

.btn-round {
    border-radius: 2.5rem;
    padding: 0.5rem 1rem;
}

.btn-pending {
    background-color: #ffe091;
    border: 1px solid #bb7a1f;
    color: #b87a1f;
    font-weight: 700;
}

.btn-done {
    background-color: #dfbaff;
    border: 1px solid #7e23cd;
    color: #7e23cd;
    font-weight: 700;
}

.btn-cancel {
    background-color: transparent !important;
    color: #e74946 !important;
}

.btn-outline-cancel {
    border: 1px solid #e74946 !important;
}

.btn-outline-cancel:hover {
    background-color: #e74946 !important;
    color: #fff !important;
    cursor: pointer;
}

.btn-transparent {
    background-color: transparent;
}

.text-red {
    color: #e74946;
}

.text-stale {
    color: #969696;
}

.bar {
    border: 1.66px solid #cccccc;
    height: 0;
}






@media screen and (max-width: 1600px) {
    html{
        font-size: 13.4px;
    }
}

@media screen and (max-width: 1536px) {
    html{
        font-size: 12.8px;
    }

}

@media screen and (max-width: 1366px) {
    html{
        font-size: 11.6px;
    }

}

@media screen and (max-width: 1280px) {
    html{
        font-size: 10.7px;
    }    
}
@media screen and (max-width: 1024px) {
    html{
        font-size: 11.1px;
    }    
}