:root {
    --max-width: 1240px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --dark-text-rgb: 255, 255, 255;
    --light-text-rgb: 0, 0, 0;
    --light-text-hex: #3c3c3c;
    --accent-text-color: #7e22ce;
    --background-color: #f5f6fa;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--light-text-hex));
    background-color: var(--background-color);
    font-family: var(--font-roboto);
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: #085fce;
}

.btn {
    cursor: pointer;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    font-family: var(--font-roboto);
}

.btn-primary {
    background-color: var(--accent-text-color);
    color: #fff;
    font-weight: 700;
}

.btn-round {
    border-radius: 40px;
    padding: 0.5rem 1rem;
}

.btn-pending {
    border: 1px solid #bb7a1f;
    color: #b87a1f;
    background-color: #ffe091;
    font-weight: 700;
}

.btn-done {
    border: 1px solid #7e23cd;
    color: #7e23cd;
    background-color: #dfbaff;
    font-weight: 700;
}

.btn-cancel {
    background-color: transparent !important;
    color: #e74946 !important;
}

.btn-outline-cancel {
    border: 1px solid #e74946 !important;
}

.btn-outline-cancel:hover {
    cursor: pointer;
    background-color: #e74946 !important;
    color: #fff !important;
}

.btn-transparent {
    background-color: transparent;
}

.text-red {
    color: #e74946;
}

.text-stale {
    color: #969696;
}

.bar {
    height: 0;
    border: 1.66px solid #cccccc;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
