.contentBtn {
    align-items: center;
    background-color: #211935;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: var(--font-roboto);
    font-size: 1.2rem;
    font-weight: 500;
    gap: 0.7rem;
    justify-content: space-around;
    padding: 1rem 1.2rem;
    transition: ease 120ms;
}

.contentBtn:hover {
    background-color: var(--accent-text-color);
}
