.modalContent {
    display: flex;
    flex-direction: column;
}

.modalContent label {
    color: var(--light-text-hex);
    font-size: 1.1rem;
    margin: 1rem 0;
}

.modalContent input[type="text"] {
    background-color: var(--background-color);
    border: solid 1.28px #dbdbdb;
    border-radius: 7.7px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}
