.projectContainer{
    border: 1.19px #999999 solid;
    border-radius: 26px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 24%;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
}

.avatar{
    width: 33.33%;
    aspect-ratio: 1/1;
    background-color: #F8A01D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    border-radius: 18px;
}

.details{
    display: inherit;
    flex-direction: column;
    color: var(--light-text-hex);
    margin-left: 1rem;
    justify-content: flex-end;
}

.details div{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.projectTitle{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--accent-text-color);
}
