.projectContainer {
    border: 1.19px #999999 solid;
    border-radius: 1.625rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    width: 24%;
}

.avatar {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #f8a01d;
    border-radius: 1.125rem;
    color: #fff;
    display: flex;
    font-size: 5rem;
    font-weight: 700;
    justify-content: center;
    width: 33.33%;
}

.details {
    color: var(--light-text-hex);
    display: inherit;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1rem;
}

.details div {
    display: inherit;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.projectTitle {
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: 500;
}
