.outerContainer {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 3.5rem 0 3.5rem;
    width: 100%;
}

.breadCrumb {
    align-items: center;
    color: #999999;
    display: inherit;
    font-size: 1.5rem;
    font-weight: 700;
}

.breadCrumb span {
    align-items: center;
    display: inherit;
    gap: 0.3rem;
}

.breadCrumb svg {
    width: 25px;
}

.option {
    color: var(--accent-text-color);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: fit-content;
    padding: 0.8rem;
}
