.sideBar {
    display: flex;
    flex-direction: column;
    width: 23.3%;
    background-color: #fff;
    height: 100vh;
    padding: 3rem;
    position: fixed;
}

.brand {
    margin-bottom: 2rem;
    /* padding: 0 3.5rem; */
}
.brand img {
    width: 60%;
}

.options {
    /* padding: 0 2.5rem; */
}

.lowerOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.sideBarOption {
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
    color: #646464;
    border-radius: 7px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1rem;
}

.sideBarOption .activeIcon {
    stroke: var(--accent-text-color);
}

.active {
    background-color: #f3e8ff;
    color: var(--accent-text-color);
}

.sideBarOption:hover {
    background-color: #f3e8ff;
    color: var(--accent-text-color);
}

/* .sideBarOption:hover svg{
    stroke: var(--accent-text-color);
} */
/* .sideBarOption:hover svg path{
    stroke: var(--accent-text-color);
} */

.user {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

.userInfo .email {
    color: #646464;
    font-size: 0.8rem;
    font-weight: 400;
}
