.tableContainer {
    margin-top: 1rem;
}

.tableHeader {
    background-color: #ededed;
    border-radius: 10px;
    color: #fff;
    color: #646464;
    display: flex;
    font-weight: 500;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
}

.tableRow {
    border-bottom: 2px solid #ededed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cell {
    align-items: center;
    color: #646464;
    display: inherit;
    font-weight: 500;
    justify-content: center;
}

.tableHeader .cell {
    font-size: 1.2rem;
    padding: 1rem;
}

.tableRow .cell {
    font-size: 1.3rem;
    padding: 1.5rem 1rem;
}

.action {
    display: flex;
    gap: 1rem;
}

.action .buttons button {
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
    border-left: none;
    border-right: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    color: #646464;
    cursor: pointer;
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}

.action .buttons button:first-of-type {
    border-left: 1px solid #c7c7c7;
    border-radius: 10px 0 0 10px;
}
.action .buttons button:last-of-type {
    border-radius: 0 10px 10px 0;
}

.shareIcon{
    width: 1.5rem;
    height: auto;
}

.tableCell5 {
    width: 5%;
}
.tableCell10 {
    width: 10%;
}
.tableCell15 {
    width: 15%;
}
.tableCell20 {
    width: 20%;
}
.tableCell25 {
    width: 25%;
}
.tableCell30 {
    width: 30%;
}
.tableCell35 {
    width: 35%;
}
.tableCell40 {
    width: 40%;
}
.tableCell45 {
    width: 45%;
}
.tableCell50 {
    width: 50%;
}
.tableCell60 {
    width: 60%;
}
.tableCell70 {
    width: 70%;
}
.tableCell80 {
    width: 80%;
}
