.uploadContainer {
    align-items: center;
    background-color: #fff;
    border: 0.68px solid #c7c7c7;
    border-radius: 0.937rem;
    box-shadow: 0px 7px 13px -7px #999999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 7rem 2rem;

    /* height: 75%; */
}

.title {
    color: #49454f;
    font-size: 1.9rem;
}

.subtitle {
    color: #00000066;
    font-size: 1.4rem;
}

.uploadContainer button {
    background-color: transparent;
    border: 2px solid var(--accent-text-color);
    border-radius: 3.125rem;
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.2rem 2.9rem;
}

.uploadContainer button:hover {
    background-color: var(--accent-text-color);
    color: #fff;
    cursor: pointer;
}

.banner {
    background-color: #ffe091;
    border-radius: 0.5rem;
    color: #b87a1f;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.fileContainer {
    background-color: #fff;
    border: 0.68px solid #c7c7c7;
    border-radius: 0.937rem;
    box-shadow: 0px 7px 13px -7px #999999;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    padding: 2rem;

    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 1rem; */
}

.fileContainer h2 {
    font-size: 1.8rem;
    font-weight: 500;
}
